<div class="wrapper">
  <div class="nav"></div>
  <div class="sidebar">
    <div class="container">
      <ul>
        <li>
          <a routerLink="/up">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>trending_up</mat-icon>
              <span class="link-text"> Up counter</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/down">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>trending_down</mat-icon>
              <span class="link-text">Down counter </span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/reset">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>celebration</mat-icon>
              <span class="link-text">Birthday Date </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main">
    <app-main></app-main>
    <router-outlet></router-outlet>
  </div>
</div>