<mat-grid-list cols="24" rowHeight="1:1">

  <mat-grid-tile [colspan]="24" [rowspan]="1" >
    <nav></nav>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="9">
    <div class="sidebar">
    <div class="linkList">
      <ul>
        <li>
          <a routerLink="/up">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>trending_up</mat-icon>
              <span class="link-text"> Up counter</span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/down">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>trending_down</mat-icon>
              <span class="link-text">Down counter </span>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/reset">
            <div class="icon-text" routerLinkActive="active">
              <mat-icon>celebration</mat-icon>
              <span class="link-text">Birthday Date </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="21" [rowspan]="5" >
    <app-main></app-main>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="21" [rowspan]="4">
    <router-outlet></router-outlet>
  </mat-grid-tile>


</mat-grid-list>