.counter-card {
    max-width: 400px;
    margin: 5% auto;
    width: 50%;
}

.counter-positive-10 {
    color: #e74c3c
}

.counter-negative-10 {
    color: #27ae60
}

mat-icon {
    font-size: 30px;
    overflow: visible;
}

mat-card-header {
    background: rgb(235, 235, 235);
}

mat-card-title {
    padding-left: 15px;
}

mat-card-content {
    margin: auto;
}