<section  [class.dark] = "counter() === 10">
 <!-- <input
    id="toggle-all"
    class="toggle-all"
    type="checkbox"
    [checked]="isAllTodosSelected()"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-todos-todo
      *ngFor="let todo of visibleTodos()"
      [todo]="todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)"
    ></app-todos-todo>
  </ul>-->
  <div class="counter">
    
    <div class="counter-icon">
        <span><i class="fa-solid fa-calculator"></i></span>
    </div>
    <h3>Live Counter</h3>
    <span class="counter-value"> {{counter()}}</span>
 
</div>
 
</section>
